
*{
    padding: 0;
margin: 0 ;

}


.body {
  width: 100vw; 
  
  overflow-x: hidden;
}

/* nav*/

.logoindex{

  max-width: 180px;
  max-height: 110px;
  padding-left: 50px;
  padding-top: 50px;
}

.navbarimg {
  max-width: 300px;
  max-height: 30px;

  padding-left: 10px  ;
  padding-right: 10px;
  box-sizing: border-box;
  margin-right: 100px;
}


.nav { display: flex;
  height: 75px;
  width: 100%;
  background-color: white;
justify-content: space-between;
align-items: center;


}


.ul-nav {
display: flex;
justify-content: space-between;
list-style-type:none;
text-align: center;
margin-right: 20px;
padding-top: 60px ;
min-width: 480px;
}


.ul-nav li {
  
border-radius: 3px;
margin: 0 5px;


}

.ul-nav li a{
  padding-top: 200px;
  padding: 25px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: black;
  
}

/* home*/
.summersale{
    
  max-height: 550px;
  padding-left: 0px ;
  padding-top: 100px;
  padding-right: 0px;}





h1{
  display: grid;
}


h2 { 
    color:black;
    text-align: center;
  padding: 5px;}


h3 {
    color: black;
    text-align: center;
}
h6{
  color: red;
  text-align: center;
}
 
.contactanos
{
    color: black;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 150px;
} 
 
 
 .textomain
  {
  
    color: black(0, 0, 0);
text-align:left;
font-size: 150px;
padding-top: 100px;
padding-left: 50px;
padding-right: 200px;



}

/* footer*/

.footerlogos{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding-right : 250px;
  padding-left: 250px;
  
 

}



.ul-footer{
  list-style-type: none;
  text-decoration: none;
display: flex;
color: black;
text-align: center;
justify-content: space-between;
width: 100%;
padding-left: 25%;
padding-right: 25%;
padding-top: 40px;
}


.contenedor{
  max-width: 120rem;
  margin: 0 auto;
 
}

.contenedor_grid{
    
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    

 }

.contenedor_grid2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:15rem;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
 
}

.imagen-1{

width: 350px; 
height: 550px;
padding-left: 20px;
padding-top: 50px;
}
.imagen-2{
  width: 350px; 
  height: 550px;
  padding-left: 20px;
  padding-top: 50px;
  }

.imagen-3{
  width: 350px; 
  height: 550px;
  padding-left: 20px;
  padding-top: 50px;
}



.zapatillas{

  width: 85%;
  max-height: 850px;
  padding-top: 100px;
  padding-bottom: 0px;
  padding-left: 190px;
  justify-content: center;
}
/* vans niño*/
.banner{ display: flex;
  padding-top: 100px;
width: 100%;
min-width: 480px;
}

.vans-niño{
  text-align: center;
  padding-top: 25px;
}

.header{
  display: flex;
  min-width: 480px;
}

.imagen_1niños{
  min-width: 480px;
  flex: 1;
  width: 300px; 
height: 450px;
padding-left: 20px;
padding-top: 50px;
}
.imagen_2niños{
  flex: 2;
  min-width: 480px;
  padding-left: 30px;
  width: 300px; 
  height: 450px;
padding-left: 20px;
padding-top: 50px;
}
.imagen_3niños{
  min-width: 480px;
  width: 300px; 
height: 450px;
padding-left: 20px;
padding-top: 50px;
}
.imagen_4niños{
  min-width: 480px;
  width: 300px; 
height: 450px;
padding-left: 20px;
padding-top: 50px;
}
.imagen_5niños{
  min-width: 480px;
  width: 300px; 
height: 450px;
padding-left: 20px;
padding-top: 50px;
}
/* vans hombre*/
.banner2{
  padding-top: 150px;
  width: 100%;
}

.vanshombre{ text-align: center;

}

.imagen_1hombres{
  min-width: 480px;
  width: 300px; 
height: 450px;
padding-left: 20px;
padding-top: 50px;
}

.imagen_2hombres{
  min-width: 480px;
  width: 300px; 
height: 450px;
padding-left: 20px;
padding-top: 50px;
}
.imagen_3hombres{
  min-width: 480px;
  width: 300px; 
height: 450px;
padding-left: 20px;
padding-top: 50px;
}
.imagen_4hombres{
  min-width: 480px;
  width: 300px; 
height: 450px;
padding-left: 20px;
padding-top: 50px;
}
.imagen_5hombres{
  min-width: 480px;
  width: 300px; 
height: 450px;
padding-left: 20px;
padding-top: 50px;
}
 /* calzados*/
 
.header{
  display: flex;
  justify-content:center;
  height: 70px;
  background-color: white;
  align-items: center;
  padding: 10px;
  min-width: 480px;

}
.logo1{
justify-items: left;
box-sizing: content-box;

}

.logo{
  display: flex;
  align-items: center;
 padding-right: 100px;
}

.logo img{
  height: 50px;
  margin-right: 10px;
  padding-right: 100px;
  justify-content: left ;
  display: flex;
}

a{
  text-decoration: none;
  color: black;
}

.conteinercalzados{
  width: 75vw;
  max-width: 1000px ;
  min-width: 480px;
  margin: auto;
}

.conteinercalzados img{
  width: 100%;
}

.vanscalzados{
  text-align: center;
  padding-top: 100px;
}

.footerlogoscalzados{
 
  width:150px;
  min-width:20px;
  margin: auto;
  display: flex;
  padding-right: 100px;
}
.footerlogoscalzados img{
  width: 100%;
}

 /* mujeres*/

 .header{
  display: flex;
  justify-content:center;
  height: 70px;
  background-color: white;
  align-items: center;
  padding: 10px;
  min-width: 480px;

}
.logo1{
justify-items: left;
box-sizing: content-box;

}

.logo{
  display: flex;
  align-items: center;
 padding-right: 100px;
}

.logo img{
  height: 50px;
  margin-right: 10px;
  padding-right: 100px;
  justify-content: left ;
  display: flex;
}

a{
  text-decoration: none;
  color: black;
}

.conteinermujer{
  width: 75vw;
  max-width: 1000px ;
  min-width: 480px;
  margin: auto;
}

.conteinermujer img{
  width: 100%;
}

.vansmujer{
  text-align: center;
  padding-top: 100px;
}

.footerlogoscalzados{
 
  width:150px;
  min-width:20px;
  margin: auto;
  display: flex;
  padding-right: 100px;
}
.footerlogoscalzados img{
  width: 100%;
}