
.vanscalzados{
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 30px;
  font-size: 30px;
}


.containercalzados{
 width: 100%;
 background-color:  rgb(247, 247, 247);
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}




.cajacalzados img {
   width: 350px;
   height: 350px;
   border-radius: 30px ;
  
   

}

.cajacalzados {
  margin: 15px;
}

.cajacalzados p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
  