/* vans niño*/
.banner{ display: flex;
    padding-top: 100px;
  width: 100%;
  min-width: 480px;
  }
  
  .vans-niño{
    text-align: center;
    padding-top: 25px;
  }
  
  .header{
    display: flex;
    min-width: 480px;
  }
  
  .imagen_1niños{
    min-width: 480px;
    flex: 1;
    width: 300px; 
  height: 450px;
  padding-left: 20px;
  padding-top: 50px;
  }
  .imagen_2niños{
    flex: 2;
    min-width: 480px;
    padding-left: 30px;
    width: 300px; 
    height: 450px;
  padding-left: 20px;
  padding-top: 50px;
  }
  .imagen_3niños{
    min-width: 480px;
    width: 300px; 
  height: 450px;
  padding-left: 20px;
  padding-top: 50px;
  }
  .imagen_4niños{
    min-width: 480px;
    width: 300px; 
  height: 450px;
  padding-left: 20px;
  padding-top: 50px;
  }
  .imagen_5niños{
    min-width: 480px;
    width: 300px; 
  height: 450px;
  padding-left: 20px;
  padding-top: 50px;
  }
  